<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
  
	<title>OpenStreetMap with Google Maps v3 API</title>
	<link rel="stylesheet" href="css/locator.css" />
  </head>
  
  <body>
  
  
	<div id="meta_data_container" class="map">
  
	  <input id="map_current_parameters_label" class="controls" type="text" placeholder="Map's Parameters" value="">
	  <button id="go_to_coords" class="controls">></button>
	  <input id="map_address_input" class="controls" type="text" placeholder="Search Box">
	  <p id="selected_line_options" class="controls">
  
	  </p>
	</div>
	
	<div id="map_with_google_api" class="map"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHpAmimxTn6JfSP_-1PavnZ9WvAE6eCtc&libraries=places&callback=initAutocomplete" async defer></script>
	<script src="js/locator.js"></script>
	<div id="button_1"></div>
	<div id="button_2"></div>
  </body>
  </html>